<div class="form-group">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ form_label(form.course, "Formation", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        
            <div class="col-sm-8">
                {{ form_widget(form.course, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="errors">
        {{ form_errors(form.course) }}
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ form_label(form.promo, "Promotion", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        
            <div class="col-sm-8">
                {{ form_widget(form.promo, {'attr': {'class': 'form-control'}}) }}
            </div>        
        </div>
    </div>

    <div class="errors">
        {{ form_errors(form.promo) }}
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ form_label(form.classroom, "Salle", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        
            <div class="col-sm-8">
                {{ form_widget(form.classroom, {'attr': {'class': 'form-control'}}) }}
            </div>        
        </div>
    </div>

    <div class="errors">
        {{ form_errors(form.classroom) }}
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ form_label(form.start, "Date et heure de début", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        
            <div class="col-sm-8">
                {{ form_widget(form.start, {'attr': {'required':'required'}}) }}
            </div>        
        </div>
    </div>

    <div class="errors">
        {{ form_errors(form.start) }}
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ form_label(form.end, "Date et heure de fin", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        
            <div class="col-sm-8">
                {{ form_widget(form.end, {'attr': {'required':'required'}}) }}
            </div>        
        </div>
    </div>
    
    <div class="errors">
        {{ form_errors(form.end) }}
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ form_label(form.content, "Contenu", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        
            <div class="col-sm-8">
                {{ form_widget(form.content, {'attr': {'required':'required', 'class':'form-control'}}) }}
            </div>        
        </div>
    </div>

    <div class="errors">
        {{ form_errors(form.content) }}
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        
            <div class="col-sm-8">
                {{ form_widget(form.description, {'attr': {'required':'required', 'class':'form-control'}}) }}
            </div>        
        </div>
    </div>

    <div class="errors">
        {{ form_errors(form.description) }}
    </div>
</div>

