{% extends 'PlanningBundle::layout.html.twig' %}

{% block title %}Insta | Gestion des établissements{% endblock %}

{% block localisation %}
    Gestion des établissements
{% endblock %}

{% block ariane %}
    <span class="active"><i class="fa fa-home"></i><a href="">Home</a></span>/ Gestion des établissements
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="well white_well animated zoomIn">
                {% if listEstablishments|length > 0 %}
                    <table class="row-border" id="table_id">
                        <thead>
                            <tr>
                                <th>Adresse</th>
                                <th>Téléphone</th>
                                <th>Email</th>
                                <th>Métro</th>
                                <th>Plan</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for establishment in listEstablishments %}
                                <tr>
                                    <td>{{ establishment.address }}</td>

                                    <td>{{ establishment.phone }}</td>

                                    <td>{{ establishment.email }}</td>

                                    <td class="text-center">{{ establishment.subwayline }}</td>

                                    <td class="text-center"><a href="" class="plan" title="Plan"><i class="fa fa-map-marker"></i></i></a></td>
                                    
                                    <td class="text-center"><a href="" class="edit" title="Modifier"><i class="fa fa-pencil-square-o"></i></a></td>

                                    <td class="text-center">
                                        <a onclick="return confirm('Êtes vous sûr de le supprimer?')" href="{{ path('planning_delete_establishment', { 'id': establishment.id }) }}" class="remove" title="Supprimer">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-center">Aucun établissement renseigné</p>
                {% endif %}
            </div>
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="left_side_block">
                <a data-toggle="modal" href='#add_modal'>
                    <div class="block_content">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="block_footer">
                        Ajouter
                    </div>
                </a>
            </div>
        </div>

    </div>

    <div class="row">
        {% if form is defined %}
            <div class="modal animated flipInX" id="add_modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Ajouter un établissement</h4>
                        </div>
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="modal-body">
                                <div class="well">

                                    {{ form_errors(form) }}

                                    <div class="form-group">
                                        {{ form_label(form.address, "Adresse de l'établissement", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                                        {{ form_errors(form.address) }}

                                        <div class="col-sm-9">
                                            {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.phone, "Numéro de téléphone", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                                        {{ form_errors(form.phone) }}

                                        <div class="col-sm-9">
                                            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.email, "Adresse email", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                                        {{ form_errors(form.email) }}

                                        <div class="col-sm-9">
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.subwayLine, "Ligne de metro", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                                        {{ form_errors(form.subwayLine) }}

                                        <div class="col-sm-9">
                                            {{ form_widget(form.subwayLine, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.accessPlan, "Plan d'accès", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                                        {{ form_errors(form.accessPlan) }}

                                        <div class="col-sm-9">
                                            {{ form_widget(form.accessPlan, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-green', 'value': 'Ajouter'}}) }}
                            </div>
                            {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock main_content %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('#table_id').DataTable({
                "oLanguage": {
                    "sUrl": "bundles/layouts/js/datatables_french.json"
                }
            });
        });
    </script>
{% endblock %}

