<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />        
        
         <!---CSS Files-->
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css">

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/layouts/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/layouts/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/layouts/css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/layouts/css/annimate.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/layouts/css/main.css') }}">

        <!---jQuery Files-->        
        <script src="{{ asset('bundles/layouts/js/jquery.min.js') }}"></script>
        
        <!-- Bootstrap JavaScript -->
        <script src="{{ asset('bundles/layouts/js/bootstrap.min.js') }}"></script>
        
        <!-- Application JavaScript -->
        <script src="{{ asset('bundles/layouts/js/main.js') }}"></script>

        <!-- DataTables JavaScript -->
        <script src="{{ asset('bundles/layouts/js/datatables.js') }}"></script>

    </head>
    <body>
        {% block body %}{% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
