{% extends '::base.html.twig' %}

{% block body %}
  {{ include('PlanningBundle::navbar.html.twig') }} 

   <main>
        <div class="container-fluid">
            <div class="sidebar">
                <div class="sidebar_head">
                    <p>NAVIGATION</p>
                </div>

                <div class="sidebar_content">
                    <ul>
                        <li class="{{ 'planning_index'|activeLink }}">
                            <a href="{{ path('planning_index') }}"><i class="fa fa-desktop"></i> Tableau de bord</a>
                        </li>
                        
                        <li><a href=""><i class="fa fa-group"></i> Gestion des promos</a></li>

                        <li><a href=""><i class="fa fa-calendar"></i> Gestion des plannings</a></li>

                        <li><a href=""><i class="fa fa-youtube-play"></i> Gestion des vacances</a></li>

                        <li class="{{ 'publicholidays'|activeLink }} {{ 'publicholiday_edit'|activeLink }}">
                            <a href="{{ path('publicholidays') }}"><i class="fa fa-calendar-o"></i>Gestion des jours fériés</a>
                        </li>

                        <li class="{{ 'classrooms'|activeLink }} {{ 'classroom_edit'|activeLink }}">
                            <a href="{{ path('classrooms') }}"><i class="fa fa-cube"></i> Gestions des Salles</a>
                        </li>

                        <li class="{{ 'planning_establishments'|activeLink }} {{ 'planning_edit_establishment'|activeLink }}">
                            <a href="{{ path('planning_establishments') }}">
                                <i class="fa fa-home"></i> Gestion des Établissements
                            </a>
                        </li>

                        <li class="{{ 'planning_courses'|activeLink }} {{ 'planning_edit_course'|activeLink }}">
                            <a href="{{ path('planning_courses') }}"><i class="fa fa-code"></i> Gestion des cours</a>
                        </li>

                        <li><a href=""><i class="fa fa-youtube-play"></i> Gestion des soutenances</a></li>

                    </ul>
                </div>
            </div>

            <div class="main right">
                <div class="main_head">
                    <div class="bull"></div>
                    <p class="location">
                        <i class="fa fa-terminal"></i>

                        {% block localisation %}
                        {% endblock %}

                    </p>
                    <p class="ariane text-right"> 

                        {% block ariane %}
                        {% endblock %}

                    </p>
                </div>

                <div class="main_content">
                    <div class="row animated zoomIn">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            {{ include('PlanningBundle::flash_message.html.twig') }} 
                        </div>                        
                    </div>

                    {% block main_content %}
                    {% endblock %}

                </div>
            </div>
        </div>
    </main>
{% endblock body %}

