{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Classrooms</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Numberofcomputer</th>
                <td>{{ entity.numberOfComputer }}</td>
            </tr>
            <tr>
                <th>Numberofclass</th>
                <td>{{ entity.numberOfClass }}</td>
            </tr>
            <tr>
                <th>Capacityofclass</th>
                <td>{{ entity.capacityOfClass }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('classrooms') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('classrooms_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
