{% extends 'PlanningBundle::layout.html.twig' %}

{% block title %}Insta | Gestion des sites{% endblock %}

{% block localisation %}
    Gestion des sites
{% endblock %}

{% block ariane %}
    <span class="active"><i class="fa fa-home"></i><a href="">Home</a></span>/ Modifier un sites
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 center-box">
            <div class="well white_well animated zoomIn">
                {% if form is defined %}
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        {{ include('PlanningBundle:Establishments:form.html.twig') }} 

                        {{ form_widget(form.save, {'attr': {'class': 'btn-edit btn btn-primary btn-green'}, 'label': 'Modifier' }) }}
                        
                        {{ form_rest(form) }}
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock main_content %}
